@use '../util/' as u;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: 2.625rem;
  font-size: clamp(2.625rem, 1.82rem + 3.44vw, 4.5rem);
}

h2 {
  font-size: 2.25rem;
  font-size: clamp(2.25rem, 1.93rem + 1.35vw, 3rem);
}

h3 {
  font-size: 1.5rem;
}
p {
  margin-top: 0;
  font-size: u.rem(16);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
